.App {
  font-family: 'Verona TS Regular';
  padding: 20px;
  background-color: black;
  height: 100%;
}

@font-face {
  font-family: 'Verona TS Regular';
  src: url('./assests/fonts/Verona-Regular.otf') format('woff2'),
    url('./assests/fonts/Verona-Medium.otf') format('woff'),
    url('./assests/fonts/Verona-Bold.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}